body, html {
	width: 100%;
	height: 100%;
	margin: 0;
}

.h30 {
	width: 50px;
	height: 30px;
	float: left;
}

.h40 {
	width: 47px;
	height: 30px;
	float: left
}

.top {
	height: 300px;
	width: 1000px;
	margin: 0 auto;
}

#top .logo {
	float: right;
	cursor: pointer;
	color: #fff
}

#top .about {
	float: right;
	cursor: pointer;
	color: #fff;
	margin-left: 10px;
}

.option {
	width: 1100px;
	margin: 0 auto;
}

.option .more {
	background: url("../image/manu.png");
	cursor: pointer;
	float: left;
	width: 180px;
	height: 215px;
	text-align: center;
	line-height: 125px;
}

.text {
	display: none
}
/*µÇÂ½*/
#lading p {
	width: 220px;
	margin: 0px;
}

#abouts {
	background: url("../image/bookMange.jpg") center no-repeat;
	/* background-color: #ffa233; */
}

#lading p span {
	width: 56px;
	text-align: right;
	float: left;
	height: 18px;
}

.button {
	height: 50px;
}

#logoTop {
	display: none;
}

.fd {
	height: 30px;
}

h3 {
	display: none;
}

#top {
	z-index: 11001;
}

.l-dialog-win .l-dialog-content {
	padding: 0
}

input:-webkit-autofill {
	background-color: rgb(255, 255, 255);
}

.h100 {
	height:
}

.logn {
	width: 260px;
	height: 30px;
}

.password {
	width: 260px;
	height: 30px;
}

.password input {
	width: 263px;
	height: 25px;
	border: 0;
	line-height: 22px;
}

.logn input {
	width: 263px;
	height: 22px;
	border: 0;
	line-height: 22px;
}

.l-box-select .l-box-select-table td {
	font-size: 12px;
}

.submitLogn {
	background: none;
	border: 0;
	width: 100px;
	height: 30px;
}

.l-text-invalid {
	background: #FEE url(../image/invalid-line.gif) repeat-x 50% 100%;
	border-color: #F77;
}